@font-face {
  font-family: 'webFont';
  font-display: swap;
  src: url('../font/webfont.woff2') format('woff2');
}

body {
  font-family: webFont;
  background-color: teal;
}

.border {
  border: 1px solid #ffe000;
}

div:nth-child(odd) {
  color: red;
}